.books {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding: 32px 22px;
    margin-bottom: 180px;
    margin-top: 0;
    width: 100%;
}

.books-spinner {
    margin-top: 11rem;
}

@media (max-width: 720px) {
    .books {
        padding: 0;
        margin-bottom: 340px;
    }
}