/* .books {
    background: white;
} */

/* .main-wrapper {
    background-color: black;
}

.book-img-wrapper {
    margin: 0;
    padding: 0;
}

.book img {
    width: 85%;
    height: 100%;
    border-radius: 20px;
    padding: 1rem;
}

.book-content {
    width: 100%;
} */