.book {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    background-color: #540D1A;
    border-radius: 10px;
    padding: 25px;
    width: 25%;
    color: white;
    text-align: center;
    margin: 60px 40px;
}

.main-wrapper {
    background-color: black;
}

.book-img-wrapper {
    margin: 0;
    padding: 0;
}

.book img {
    width: 85%;
    height: 100%;
    border-radius: 20px;
    padding: 1rem;
}

.book-content {
    width: 100%;
}

button {
    margin: 3px;
}