.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 3rem auto;
    display: inline; */
}
.spinner:after {
    content: '';
    display: inline-block;
    width: 94px;
    height: 94px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #c69f26;
    border-color: #c69f26 transparent #c69f26 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
