.container {
    width: 80%;
    max-width: 1500px;
    margin: 160px auto 290px auto;
    display: inline-block;
}

.container form {
    padding: 0 1rem 2rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.book-info,
.book-publisher {
    width: 30%;
}

.container .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .inline div,
.container .inline div {
    width: 40%;
}

.container label {
    color: #c69f26;
}

.container h1 {
    color: white;
}

.form button {
    padding: 2rem 4rem;
    font: inherit;
}

.loading {
    margin-top: 11rem;
}

@media(max-width: 1080px) {
    .container form {
        flex-direction: column;
    }

    .book-info,
    .book-publisher {
        width: 90%;
    }
}

@media(max-width: 720px) {
    .container {
        margin-top: 240px;
        margin-bottom: 380px;
    }

    .loading {
        margin-top: 14rem;
    }
}