.container {
    width: 80%;
    max-width: 1500px;
    margin: 160px auto 290px auto;
    display: inline-block;
}

.container form {
    padding: 0 1rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.book-info,
.book-publisher {
    width: 30%;
    min-width: 340px;
    margin-left: 12px;
    margin-right: 12px;
}

.container .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .inline div,
.container .inline div {
    width: 40%;
    min-width: 141px;
}

.container label {
    color: #c69f26;
    font-size: 1.1rem;
}

.container h1 {
    color: white;
}

.form button {
    padding: 24px 48px;
    font: inherit;
    font-size: 1.2rem;
    min-width: 163px;
}

.loading {
    margin-top: 11rem;
}

@media(max-width: 1080px) {
    .form button {
        margin-top: 18px;
    }
}

@media(max-width: 973px) {
    .book-info,
    .book-publisher {
        min-width: 0;
        width: 100%;
    }
}

@media(max-width: 720px) {
    .container {
        margin-top: 240px;
        margin-bottom: 380px;
    }

    .loading {
        margin-top: 14rem;
    }
}