.example {
    display: flex;
    margin: 10rem auto auto auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #c69f26;;
}

.example h2 {
    flex: 0 0 100%;
    color: white;
}

.example span {
    color: white;
}

.example input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #540D1A;
    width: 50%;
    background: #f1f1f1;
    border-radius: 3px;
}

.example input[type=number] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #540D1A;
    width: 20%;
    background: #f1f1f1;
    border-radius: 3px;
}

.example button {
    flex: 0 0 50%;
    margin: 1rem;
    padding: 10px;
    background: #540D1A;
    color: white;
    font-size: 14px;
    border: 1px solid #540D1A;
    cursor: pointer;
    border: 2px solid #540D1A;
    border-radius: 3px;
    border: 2px solid #c69f26;
}

.example button:hover {
    background: #540D1A;
    color: #c69f26;
}