.list {
    height: 5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.list li {
    margin: 0 2rem;
}

.list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.list button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.list a:hover,
.list a:active,
.list a.active {
    color: #c69f26;
    border-bottom: 3px solid #c69f26;
}

.list button:hover {
    background-color: #c69f26;
    color: #540D1A;
    border-color: #540D1A;
}

.heading {
    color: white;
    text-decoration: none;
    margin: 0;
}

.logo-list {
    color: white;
}

.logo-list:hover {
    color: #c69f26;
}

.image-wrapper {
    display: inline-block;
    height: 3rem;
    min-width: 3.5rem;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #c69f26;
}

@media (max-width: 800px) {
    .nav {
        background-color: aquamarine;
    }

    .nav ul {
      flex-direction: column;
    }
  
    /* /* .nav li {
      margin: 0 0.5rem;
    }
  
    .nav a {
      color: white;
      text-decoration: none;
    } 
  /*
    .nav button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .nav button:hover,
    .nav button:active {
      background: #f8df00;
      color: #292929;
    } */
}
  