.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.24rem;
}

.form-control input,
.form-control textarea,
.form-control select {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f1e1fc;
    padding: 0.15rem 0.25rem;
    border-radius: 4px;
}

.invalid input,
.invalid textarea,
.invalid select {
    border-color: red;
    background: #ffd1d1;
}