.container {
    width: 90%;
    max-width: 1100px;
    background-color: #540D1A;
    margin-top: 160px;
    margin-bottom: 360px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    padding: 40px 0;
    justify-content: space-around;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book-img-wrapper {
    margin: 0;
    padding: 0;
    min-height: 250px;
    min-width: 225px;
    width: 35%;
    border: 2px solid #c69f26;
    border-radius: 5px;
}

.book-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 16px;
}

.book-content,
.book-content-edition {
    background: #c69f26;
    border: 2px solid #c69f26;
    background-color: rgb(51, 0, 0);
    width: 60%;
    border-left: none;
    border-right: none;
}

.container h2 {
    color: #c69f26;
    text-align: center;
}

.container span {
    color: #c69f26;
}

.buttons {
    margin-top: 28px;
}

.buttons button {
    padding: 0.4rem 2rem;
    margin: 6px;
}

.book-details-spinner {
    margin: 18rem auto;
}

@media (max-width: 1080px) {
    .container {
        width: 90%;
        margin-top: 220px;
        margin-bottom: 450px;
    }

    .details {
        flex-direction: column;
    }

    .book-img-wrapper {
        height: 250px;
        max-width: 225px;
    }

    .book-content,
    .book-content-edition {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 12px 0;
        margin: 34px 0;
    }

    .buttons,
    .buttons a {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        max-width: 220px;
        min-width: 180px;
    }

    .buttons a {
        width: 100%;
    }
}