.container {
    width: 80%;
    margin: 9rem auto;
}

.container form {
    padding: 0 1rem 2rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.book-info,
.book-publisher {
    width: 30%;
}

.container .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .inline div,
.container .inline div {
    width: 40%;
}

.container label {
    color: #c69f26;
}

.form button {
    padding: 2rem 4rem;
    font: inherit;
}