.footer {
    color: rgba(255, 255, 255, 0.85);
    border-top: 8px solid #c69f26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: hsl(349, 73%, 19%);
    width: 100%;
}

.footer-info {
    text-align: center;
}

.footer-info a {
    display: block;
    margin: 1rem 0;
}

.footer-info button {
    background: transparent;
    color: white;
    border: 3px solid white;
    padding: 0.4rem 1.8rem;
    border-radius: 15px;
    cursor: pointer;
    font: inherit;
    min-width: 176px;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    width: 30%;
    min-width: 250px;
}

.footer p {
    width: 30%;
    min-width: 204px;
    text-align: center;
}

@media (max-width: 720px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-icons {
        justify-content: space-between;
        font-size: 1.7rem;
    }
}