@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

.footer {
    color: rgba(255, 255, 255, 0.85);
    border-top: 8px solid #c69f26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 4rem;
    background: hsl(349, 73%, 19%);
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    width: 30%;
}