.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 80px;
    background-color: #540D1A;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.initial-header {
    color: white;
    min-width: 230px;
}

.initial-header:hover {
    color: #c69f26;
}

.hamburger-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    display: none;
}

.hamburger-btn:hover {
    background-color: #c69f26;
    cursor: pointer;
}

.hamburger-btn i {
    font-size: 1.2rem;
}

.side-nav {
    display: none;
}

@media (max-width: 1088px) {
    .header {
        justify-content: space-around;
    }

    .main-nav {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .side-nav {
        display: block;
    }
}

@media (max-width: 720px) {
    .header {
        flex-direction: column;
        max-height: none;
        text-align: center;
    }

    .initial-header {
        margin-top: 0;
        font-size: 1.6rem;
    }

    .hamburger-btn {
        margin-top: 20px;
    }
}