.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 5rem;
    background-color: #540D1A;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.initial-header {
    font-size: 1.8rem;
    color: white;
}

.hamburger-btn {
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 3px;
    display: none;
}

.hamburger-btn:hover {
    background-color: #c69f26;
    cursor: pointer;
}

.hamburger-btn i {
    font-size: 1.3rem;
}

.side-nav {
    display: none;

}

@media (max-width: 1085px) {
    .main-nav {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .side-nav {
        display: block;
    }
}

@media (max-width: 680px) {
    .header {
        flex-direction: column;
        max-height: none;
    }

    .hamburger-btn {
        margin-top: 1.3rem;
    }
}