@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Monaco', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
    height: 100vh;
    background-color: rgb(51, 0, 0);
}