.auth {
    display: inline-block;
    min-width: 500px;
    padding: 32px;
    text-align: center;
    color: #c69f26;
    margin: 150px auto 388px auto;
    width: 40%;
}

.auth h1 {
    color: white;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-btn {
    padding: 0.5rem 2.5rem;
}

.offer {
    margin-top: 2rem;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 720px) {
    .auth {
        margin-top: 250px;
        margin-bottom: 422px;
    }
}

@media (max-width: 580px) {
    .auth {
        width: 95%;
        min-width: 0;
    }
}