.auth {
    min-width: 30rem;
    padding: 3rem;
    text-align: center;
    color: #c69f26;
    margin: 10rem auto;
    display: inline-block;
}

.auth h1 {
    color: white;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-btn {
    padding: 0.5rem 2.5rem;
}

.offer {
    margin-top: 2rem;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}